
<div class="right-element full-height">

  <div class="m-border">


    <h6 class="indigo-text">Remboursemen non conforme</h6>

    <div class="row m-text right-top">

      <div class="col-md-3 col-5">
        <small>REF. DEMANDE</small>
        <p class="font-bold">23567892</p>
      </div>

      <div class="col-md-1 col-1 vl"></div>

      <div class="col-md-3 col-5">
        <small style="margin-left: -1em;">STATUT</small>
        <p class="font-bold orange"> <span class="bullet orange">•</span>Attente d'elements</p>
      </div>

      <div class="col-md-5 d-none d-sm-block">
        <button type="button" class="btn btn-oval">Repondre</button>
      </div>


    </div>

  </div>
  <hr>


    <div class="section">

      <div>
          <app-message-item></app-message-item>
      </div>

    </div>


</div>

